%p#notice= notice

%p
  %b Name:
  = @control_loop.name
  %b Mode:
  = @control_loop.mode
  %b Reference:
  = @control_loop.reference
  %b Parameters:
  = @control_loop.parameters
  %b Next run:
  = @control_loop.next_run
  %b Sampling Rate:
  = @control_loop.sampling_rate
  %b Sensor:
  = link_to @control_loop.sensor.name, @control_loop.sensor
  %b Actuator:
  = link_to @control_loop.actuator.name, @control_loop.actuator
  //.actuator#actuator{ "data-actuator-id": @control_loop.actuator.id }

- last = @control_loop.sensor.last_reading
%h2= "Temperatura atual: #{last.value.to_s} (#{last.measured_at})"

= form_with url: control_loop_reference_trackings_path(@control_loop), remote: true do |f|
  = f.fields_for :reference_tracking do |rt|
    .field
      = rt.label :value
      = rt.number_field :value, step: 0.1
    .field
      = rt.label :target_datetime
      = rt.datetime_select :target_datetime
    .actions
      = rt.submit 'Save'

.chart#chart
.control-loop#control-loop{ "data-control-loop-id": @control_loop.id, "data-sensor-id": @control_loop.sensor.id }
= link_to 'Edit', edit_control_loop_path(@control_loop)
\|
= link_to 'Back', control_loops_path
